.letterbox-container {
    aspect-ratio: 1/1;
}

.letterbox-input {
    font-size: clamp(3em, 5em, 10vw);
    border: none;
    outline: none;
    text-align: center;
    background-color: transparent;
}