.mainpage-container {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainpage-header-container{
    height: 10%;
}

.mainpage-wordle-grid-container {
    height: 70%;
    display: flex;
    justify-content: center;
}

.mainpage-keyboard-container {
    height: 20%;
}